 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: "Barlow Condensed", sans-serif;

 }

 .backdrop-container {
     overflow: hidden;
     display: flex;
     width: 100%;
     position: absolute;
     z-index: -100;
 }
 .backdrops {
     width: 50%;
     height: 550px;
 }
 .dropcolor {
    background-color: hsl(207, 33%, 95%);
    border-radius: 100px;
    margin-top: -15vh;
    padding-top: 45vh;
    margin-right: -40vw;
    margin-left: 5%;
 }
 
section.proj-main {

}
 header.container {
    position: absolute;
    right: 0;
    left: 0;
    padding-left: 10%;
    padding-top: 10vh;
    display: flex;
    justify-content: space-between;
    
 }
 div.proj-logo {
    width: 60%;
 }
 div.navbar {
    width: 40%;
 }
 div.navbar ul {
    display: flex;
 }

.navbar li {
    list-style-type: none;
    padding-right: 10px;
}
.navbar li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: cursive;
    color: black;

}

.navbar li a:hover {
    text-decoration: underline;
}
.navbar li:last-child a:hover {
    color:rgb(145, 145, 145);
}

div.main {
    max-width: 40%;
    padding-top: 25vh;
    display: flex;
    margin-left: 10%;
}
.proj-intro p.new span {
    background-color: #000;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 10px;
    font-size: 10px;
}
p.new {
    letter-spacing: 0.12em;
    margin-bottom: 10px;
    font-family: "verdana";
    font-size: 12px;
    color:hsl(0, 0%, 49%)

}
div.team p {
    font-size: xx-large;
    font-weight: bolder;
}
div.plan {
    width: 70%;
    font-size: 20px;
    margin-top: 15px;
    color:hsl(0, 0%, 49%);
}
div.anchor {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

}

div.anchor div a {
    font-family: "Barlow Condensed", sans-serif;
    text-decoration: none;
    color: white;
}

div.anchor div:first-child a {
    padding: 10px 20px;
    background-color: hsl(0, 100%, 68%);
    text-decoration: none;
    color: white;
    border-radius: 5px;
} 
div.anchor div:first-child a:hover {
    opacity: 0.9;
}
div.anchor div:last-child a {
    color:hsl(0, 0%, 49%);
}
div.anchor div:last-child a:hover {
    color:hsl(0, 100%, 68%);
}
#toggler {
    display: none;
}
@media screen and (max-width: 500px) {
    .navbar {
        display: none;
    }
    #toggler {
        display: block;
        margin-right: 50px;
    }
    header {
        position: absolute;
        top: 10px;
    }

    .backdrop-container {
        position: relative;
        margin-top: -15vh;
    }
    div.main {
        max-width: 100%;
        margin-left: 5%;
        margin-bottom: 4vh;
        margin-top: 10px;
        padding-top: 3vh;
    }
    div.anchor {
        flex-direction: column;
        text-align: center;
    }
    .anchor div:last-child {
        width: 100%;
        margin-top: 50px;

    }
}

#navbar-sm {
    width: 80%;
    text-align: justify;
    display: block;
    position: absolute;
    top: 100px;
    margin: auto auto;
    background-color: white;
    box-shadow: -10px 10px 10px gray;
    text-align: center;
    z-index: 1000;
    padding: 10px 20px;
    display: none;

}

#navbar-sm li {
    list-style: none;
    margin: auto auto;
    text-transform: uppercase;
    margin: 3px 0;  
    padding: 5px 0px;
}
#navbar-sm li:nth-child(3) {
    padding-bottom: 25px;
    
}
#navbar-sm li:nth-child(3) {
    border-bottom: 0.5px solid rgb(154, 153, 153);
}

#navbar-sm li a {
    text-decoration: none;
    color: black;
    padding: 5px 0px;
}
#navbar-sm li:last-child a {
    color: rgb(154, 153, 153);
}

#toggler-icon, #toggler-close {
    cursor: pointer;
}

#toggler-icon:hover,
#toggler-close:hover {
    opacity: 0.6;
}

#proj-logo img {
    cursor: pointer;
}